.form__container {
  background-color: #363636;
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.firebaseError__msg {
  text-align: center;
  font-weight: 600;
  height: 25px;
  font-family: var(--note-font);
  color: var(--error-msg);
}

.forgetPassword {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}
.forgetPassword__title {
  font-size: 18px;
  color: var(--main-white);
}
.createUser__link,
.forgetPassword__link {
  font-size: 18px;
  color: var(--link-hover);
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}
.createUser__link:hover,
.forgetPassword__link:hover {
  color: var(--link-hover-light);
}
