.workers__title {
  text-align: center;
  padding: 20px 0;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  max-width: 40%;
  margin: auto;
}
.workers__list {
  max-width: 800px;
  margin: 20px auto;
  background-color: #6fa8ad;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.worker__holder {
  padding: 10px;
  background-color: var(--main-white);
  border-radius: 5px;
  border: 1px solid #6fa8ad;
  transition: all ease-in-out 0.3s;
}
.worker__holder:hover {
    background-color: #e8e8e8;

}
.worker__info {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
