.home__container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}
.devices__container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  margin: 50px 0;
}
.device {
  position: relative;
  max-width: 400px;
  height: 200px;
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  padding: 10px;
}
.device__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: var(--icon-bg);
  background: linear-gradient(
    337deg,
    rgb(127, 191, 195) 0%,
    rgba(113, 168, 173) 100%
  );
  top: -20px;
  left: 20px;
  box-shadow: 10px 15px 25px 0px rgb(113, 168, 173, 0.5);
}
.device__info {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-black);
}
.moreinfo__container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 15px;
}
.moreinfo__btn {
  padding: 7px;
  border-radius: 3px;
  font-weight: 500;
  background-color: var(--link-hover);
  transition: all ease-in-out 0.2s;
}

.moreinfo__btn:hover {
  background-color: rgb(127, 191, 195);
  color: var(--main-black);
}

.pcs {
  font-size: 45px;
  font-weight: 600;
}
.pcs__used,
.pcs__free {
  font-size: 18px;
  font-weight: 600;
}
.pcs__used span,
.pcs__free span {
  font-size: 26px;
}
