.title {
  font-size: 30px;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
}
.control__holder {
  display: flex;
  justify-content: end;
  align-items: baseline;
  padding: 10px;
  gap: 20px;
}

.chairs__container {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 700px;
  margin: 0 auto;
}
.chair__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--layout-bg);
  padding: 0 5px;
  border-radius: 5px;
}
.chair__inventory {
  flex: 2;
  font-size: 28px;
  font-weight: 600;
}
.chair__owner {
  flex: 5;
  font-size: 18px;
  font-weight: 500;
}
.chair__edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* add link */
.link__container {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}
.add__link:hover {
  color: inherit;
}

.add__holder {
  display: flex;
  gap: 10px;
  background-color: var(--link-hover);
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.add__holder:hover {
  background-color: #7bbac0;
}
.add__title {
  font-size: 18px;
  font-weight: 500;
}
