.input__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input__lable {
  font-size: 20px;
  color: var(--main-white);
  padding-left: 8px;
}
.input {
  font-size: 18px;
  padding: 5px;
  background-color: var(--main-white);
  border: 2px solid var(--main-white);
}
.input__error {
  border: 2px solid var(--error-msg);
}
.error__msg {
  height: 25px;
  font-family: var(--note-font);
  color: var(--error-msg);
}
