.form__container {
  background-color: #363636;
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reset__instruction {
  color: var(--main-white);
  width: 350px;
  margin: 20px auto;
  text-align: justify;
}
.send__btn {
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  transition: all ease-in-out 0.3s;
}
.send__btn:hover {
  background-color: var(--link-hover);
}
.back__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--link-hover);
  font-weight: 700;
  font-size: 18px;
  transition: all ease-in-out 0.3s;
}
.back__btn:hover {
  color: var(--link-hover-light);
}


/* INPUT */
.input__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input__lable {
  font-size: 20px;
  color: var(--main-white);
  padding-left: 8px;
}
.input {
  font-size: 18px;
  padding: 5px;
  background-color: var(--main-white);
  border: 2px solid var(--main-white);
}
.input__error {
  border: 2px solid var(--error-msg);
}
.error__msg {
  height: 25px;
  font-family: var(--note-font);
  color: var(--error-msg);
}