.form__container {
  background-color: #363636;
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reset__instruction {
  color: var(--main-white);
  width: 350px;
  margin: 20px auto;
  text-align: justify;
}
.back__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--link-hover);
  font-weight: 700;
  font-size: 18px;
  transition: all ease-in-out 0.3s;
}
.back__btn:hover {
  color: var(--link-hover-light);
}


