/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root {
  /* FONTS Advent Pro, Neucha  */
  /* --main-fonts: 'Advent Pro', sans-serif */
  --main-font: "Advent Pro", sans-serif;
  --note-font: "Neucha", cursive;

  /* background-color */
  --main-black: #303030;
  --main-white: #FAFAFB;
  --link-hover: #6FA8AD;
  --link-hover-light: #91e0e8;
  --error-msg: #f27a7a;
  --layout-bg: #e1e1e1;
  --card-bg: #f0f0f0;
  --icon-bg: #0EC99C;

}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-size: 16px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  background-color: rgb(223, 223, 223);
  font-family: var(--main-font);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  cursor: pointer;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: currentColor;
}
a:hover{
  color: var(--link-hover);
  transition: ease 0.3s ;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  border-radius: 3px;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.holder{
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}
